body{
    background-color: black;
    font-family: sans-serif;
}
h1{
    color: red;
    font-family: sans-serif;
    font-size: 2rem;
}
p{
    color: red;
    font-family: sans-serif;
}
a{
    color: red;
}
